<form action = {{action}} method = {{metodo}} >
    <div class="mb-3">
        <label class="form-label fw-bold" for="title">Producto</label>
        <input class="form-control" required name="title">
    </div>
    <div class="mb-3">
        <label class="form-label fw-bold" for="description">Description</label>
        <input class="form-control" required type="text" name="description" >
    </div>
    <div class="mb-3">
        <label class="form-label fw-bold" for="code">Code</label>
        <input class="form-control" required name="code">
    </div>
    <div class="mb-3">
        <label class="form-label fw-bold" for="thumbnail">Url Imagen</label>
        <input class="form-control" required type="text" name="thumbnail">
    </div>
    <div class="mb-3">
        <label class="form-label fw-bold" for="price">Precio</label>
        <input class="form-control " required type="number" name="price">
    </div>
    <div class="mb-3">
        <label class="form-label fw-bold" for="stock">Stock</label>
        <input class="form-control " required type="number" name="stock">
    </div>
    
    <div class="col-12">
        <input class="btn btn-success" required type="submit" value="Enviar">
    </div>
</form>